@import "compass";
@import "bourbon/bourbon";
@import "susy";
@import "sassy-buttons";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$sb-base-color: #e59843;

body {
  background-image: image-url("swatches/white.jpg");
  font-family: "Helvetica", Helvetica, serif;
  // height to fit iPad?
}
$default-box-shadow: 1px 1px 3px #888;

#container{

  @include container;
  box-shadow: $default-box-shadow;
  background-image: image-url("swatches/cream.jpg");

  #header, #footer {
    clear: both;
    @include span-columns(12,12);
  }
  #content {
    @include span-columns(12,12);
  }
}

#header {
  @include span-columns(12,12);
  box-shadow:  $default-box-shadow;
  margin-top: 10px;
  margin-bottom: 25px;
  background-image: image-url("swatches/blue.jpg");
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  a {
    text-decoration: none;
  }
  #logo {
    @include span-columns(4,12);
    padding-left: 5px;
  }
  #kickstarter {
    @include span-columns(6 omega,12);
    text-align: right;
  }
}

#footer {
  // @extend #header;
  // margin-top: 20px;
  // margin-bottom: 0;
  background-image: image-url("swatches/blue.jpg");
  box-shadow:  $default-box-shadow;

  text-align: center;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fdfdf9;
}

#graphic, #critter {
  @include span-columns(8,12);
  vertical-align: top;
  text-align: top;
}

#info,#palette {
  @include span-columns(4 omega, 12);
  vertical-align: top;
  .text {
    font-size: 24px;
  }
}

button {
  background-color: #e59843;
  text-align: center;
  @include sassy-button("simple", 10px, 24px, #e59843);
}
.medText {
  font-size: 18px;
}
.bigText  {
  font-size: 22px;
}

.blurb, .note {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 2px solid #f0c02b;
  border-radius: 15px;
  background: #f9e77a;
  margin-left:30px;
}

.note {
  background: #fdfdf9;
  border-color: #f0c02b;
  margin: 0;
  margin-left: 0;
}
.blurb:before {
  content:"";
  position:absolute;
  border-style:solid;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #f0c02b;
}

.blurb:after {
  content:"";
  position:absolute;
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #f9e77a;
  border-style:solid;
  display:block;
  width:0;
}

