@import "compass";
@import "bourbon/bourbon";
@import "susy";
@import "sassy-buttons";

$total-columns  : 4;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$break1: 8;
$break2: 12;

$content-cols: $total-columns;

// Colors
$sb-base-color: #e59843;
$black:        #111111;
$blue: 	       #54b2a2;
$cream:        #fff5e1;
$green:        #899d4e;
$liteBlue:     #b1cdc5;
$liteGreen:    #b0bf5d;
$litePink:     #e9aeb1;
$liteYellow:   #f9e77a;
$orange:       #e59843;
$pink:         #c44f7f;
$purple: #85719f;
$red:    #8e2f2d;
$white:  #fdfdf9;
$yellow: #f0c02b;
$default-box-shadow: 1px 1px 3px #888;

body {
  background: $cream;
  font-family: "Helvetica", Helvetica, serif;
}

#container{
  @include container($total-columns,$break1,$break2);
  box-shadow: $default-box-shadow;
  background: $white;
}

#header, #footer {
  margin-left: 0 - $grid-padding;
  padding-left: $grid-padding;
  margin-right: 0 - $grid-padding;
  padding-right: $grid-padding;
  clear: both;
  background: $blue;
  box-shadow:  $default-box-shadow;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  a {
    text-decoration: none;
  }
  @include span-columns($total-columns,$total-columns);
}

#footer {
  box-shadow:  $default-box-shadow;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: $white;
}

#logo svg, #kickstarter svg {
  padding-left: 5px;
  margin-left: 5px;
  width: 100%;
}
#kickstarter {
  text-align: right;
}

// Layout
#content {
  @include span-columns($total-columns,$total-columns);
  margin: 0 0 - $grid-padding;
  padding: 0 $grid-padding;
  #slides {
    @include span-columns($total-columns, $total-columns);
  }
  #msg {
   @include span-columns($total-columns omega, $total-columns);
  }
}


@include at-breakpoint($break1) {
  $c1: 4;
  $c2: 4;
  #header {
    @include span-columns($break1,$break1);
    #logo {
      @include span-columns($c1,$break1);
    }
    #kickstarter {
      @include span-columns($c2 omega,$break1);
    }
  }
  #content {
    @include span-columns($break1,$break1);
    #slides {
      @include span-columns($c1, $break1);
    }
    #msg {
      @include span-columns($c2 omega,$break1);      
    }
  }
}

@include at-breakpoint($break2) {
  $c1: 6;
  $c2: 6;
  #header {
    @include span-columns($break2,$break2);
    #logo {
      @include span-columns($c1 ,$break2);
    }
    #kickstarter {
      @include span-columns($c2 omega ,$break2);
      text-align: right;
    }
  }
  #content {
    @include span-columns($break2,$break2);
    #slides {
      @include span-columns($c1, $break2);
    }
    #msg {
      @include span-columns($c2 omega,$break2);
    }
  }
}

#slides {
  display: none;
  padding-bottom: 10px;
}

.slidesjs-pagination .active {
      color: $red;
}
a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
      margin-top: 5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }


#msg {
  @include span-columns(6 omega, 12);
  vertical-align: top;
  text-align: center;
  .text {
    font-size: 24px;
  }
}

button {
  background-color: #e59843;
  text-align: center;
  @include sassy-button("simple", 10px, 24px, #e59843);
}
.medText {
  font-size: 18px;
}
.bigText  {
  font-size: 22px;
}

.blurb, .note {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 2px solid #f0c02b;
  border-radius: 15px;
  background: #f9e77a;
  margin-left:30px;
}

.note {
  background: #fdfdf9;
  border-color: #f0c02b;
  margin: 0;
  margin-left: 0;
}
.blurb:before {
  content:"";
  position:absolute;
  border-style:solid;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #f0c02b;
}

.blurb:after {
  content:"";
  position:absolute;
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #f9e77a;
  border-style:solid;
  display:block;
  width:0;
}

