@import "compass";
@import 'bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lato:700,900);


body {
  background-color: #fdfdf9;
}
div {
  // margin: 10px;
  margin-top: 10px;
  border: 1px solid #666;
  @include border-radius(5px);
  background-color: #fff5e1;
  width: 960px;
}

#logo, .ks {
  font-family: 'Helvetica', sans-serif;
  font: bold;
  background-color: #54b2a2;
}

#smallSkins {
  position: relative;
  height: 280px;
  width: 65px;
  float: left;
}

#smallSkinsImg {
  position: absolute;
  left: 0px;
  top: 2px;
  z-index: 2;
}
#tinyIphone {
  position: absolute;
  // left: 10;
  top: 0px;
  z-index: 1;
}

#rotateTest{
  position: relative;
  width: 300px;
  height: 200px;
  float: left;
}

#rotateMessage {
  width: 300px;
  float: left;
}