@import 'compass/css3';
$verticalSpacer: 35;
$verticalOffset: 21;

@for $i from 0 through 7 {  
  .ss#{$i}.transition {
    margin-top: #{($verticalSpacer * $i) + $verticalOffset}px;
    @include transition-property(margin-top);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-in); 
  }
}