!!!
%html
  %head
    / CSS Style sheets
    %link(rel="stylesheet" type="text/css" href="css/main.css")
    / Javascript includes
  %body
    #container
      #header
        #logo
          %a(href='http://critterkins.com' alt='CritterKins logo')
            != File.read("static/images/logo-big.svg")
        #kickstarter
          %a(href="http://www.kickstarter.com/projects/crittercase/1771170582?token=f181f8c4" alt='Find out more at our Kickstarter Project site' style='text-decoration: none')
            != File.read('static/images/findoutmore-ks.svg')
      #content
        #graphic
        #info
      #footer
        .center &copy; Copyright 2013,  Turaro, LLC, and CritterKins. All Rights Reserved.
    %script(type="text/javascript")
      document.write('<script src=js/' +
      ('__proto__' in {} ? 'zepto' : 'jquery-1.9.0') +
      '.js><\/script>')
    %script(type="text/javascript" src="js/raphael.js")
    %script(type="text/javascript" src="js/colors.js")
    %script(type="text/javascript" src="js/shapes.js")
    %script(type="text/javascript" src="js/main.js")
    / this is the end
