!!!
%html
  %head
    / CSS Style sheets
    %link(rel="stylesheet" type="text/css" href="css/960_12_col.css")
    %link(rel="stylesheet" type="text/css" href="css/text.css")
    %link(rel="stylesheet" type="text/css" href="css/reset.css")
    %link(rel="stylesheet" type="text/css" href="css/app.css")
    / Javascript includes
  %body 
    #container.container_12
      #header.grid_12
        #logo.grid_8
          %img(src='images/swatches/white.jpg' style='display: none')
          %a(href='/' alt='CritterKins.com')
            %embed(src="images/logo-big.svg" type="image/svg+xml" )
        #tagline.grid_3
      #content.grid_12
        #skin.grid_8.alpha
        #info.grid_4.omega
      #footer.grid_12
        .center &copy; Copyright 2013,  Turaro, LLC, and CritterKins. All Rights Reserved.
    %script(type="text/javascript")
      document.write('<script src=js/' +
      ('__proto__' in {} ? 'zepto' : 'jquery-1.9.0') +
      '.js><\/script>')
    %script(type="text/javascript" src="js/raphael.js")
    %script(type="text/javascript" src="js/shapes.js")
    / %script(type="text/javascript" src="js/logo.js")    
    %script(type="text/javascript" src="js/ks.js")
