!!!
%html
  %head
    / CSS Style sheets
    %link(rel="stylesheet" type="text/css" href="css/960_12_col.css")
    / %link(rel="stylesheet" type="text/css" href="css/grid.css")
    %link(rel="stylesheet" type="text/css" href="css/text.css")
    %link(rel="stylesheet" type="text/css" href="css/reset.css")
    %link(rel="stylesheet" type="text/css" href="css/app.css")
    / Javascript includes
  %body 
    #container.container_12
      #header.grid_12
        #logo.grid_8
        #kickstarter.grid_3
      #content.grid_12
        #skin.grid_9.alpha
        / #sharelinks.push_2.grid_1.omega
        /   Share the <3:
        /   %img(src="images/fb.png")
        /   %br
        /   %img(src="images/tw.png")
        /   %br
        /   %img(src="images/gp.png")
        /   %br
        #rightPanel.grid_3.omega
      #footer.grid_12
        .center &copy; Copyright 2013,  Turaro, LLC, and CritterKins. All Rights Reserved.
      #testForm.grid_12.alpha.omega
        %form(action="/" name="frmCritter" id="frmCritter")
          %input(type="hidden" name="skinColor" value="0")
    %script(type="text/javascript")
      document.write('<script src=js/' +
      ('__proto__' in {} ? 'zepto' : 'jquery-1.9.0') +
      '.js><\/script>')
    %script(type="text/javascript" src="js/raphael.js")
    %script(type="text/javascript" src="js/shapes.js")
    %script(type="text/javascript" src="js/ks.js")
    %script(type="text/javascript" src="js/logo.js")
    %script(type="text/javascript" src="js/skin.js")
