!!!
%html
  %head
    %link(rel="stylesheet" type="text/css" href="css/shapes.css")
  %body
    #logo
    / #smallKs.ks
    / #bigKs.ks
    #smallSkins
      %img(id='tinyIphone' src="images/iphone4-sm.png" )
      != File.read('static/images/smallSkins.svg')  
    / #bigSkin
    #rotateTest
      %img(id='bigPhone' src="images/iphone4-med.png" )
      #rotateMessage Nothing yet.
    %script(type="text/javascript" src="js/zepto.js")    
    %script(type="text/javascript" src="js/raphael.js")
    %script(type="text/javascript" src="js/colors.js")
    %script(type="text/javascript" src="js/shapes.js")
    %script(type="text/javascript" src="js/logo.js")
    %script(type="text/javascript" src="js/shape-palette.js")

