/* line 9, ../../sass/app.scss */
body { background-image: url('../images/swatches/white.jpg?1361563393'); font-family: "Helvetica Neue", Helvetica, serif; }

/* line 18, ../../sass/app.scss */
#container { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; background-image: url('../images/swatches/cream.jpg?1361563393'); }

/* line 23, ../../sass/app.scss */
#header { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; margin-top: 10px; margin-bottom: 25px; background-image: url('../images/swatches/blue.jpg?1361563393'); font-size: 18px; font-weight: bold; padding-top: 5px; padding-bottom: 5px; }
/* line 32, ../../sass/app.scss */
#header a { text-decoration: none; }

/* line 37, ../../sass/app.scss */
#footer { background-image: url('../images/swatches/blue.jpg?1361563393'); -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; text-align: center; font-weight: normal; font-size: 10px; margin-top: 10px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; color: #fdfdf9; }

/* line 61, ../../sass/app.scss */
#graphic, #info { padding: 3px; height: 440px; background: #899d4e; }

/* line 67, ../../sass/app.scss */
#skin { background-repeat: no-repeat; height: 640px; }

/* line 78, ../../sass/app.scss */
#rightPanel { height: 640px; -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; }
