/* line 3, ../sass/app.scss */
body { background-image: url('../images/swatches/cream.jpg?1358015488'); font-family: "Helvetica Neue", Helvetica, serif; }

/* line 11, ../sass/app.scss */
#container { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; background-image: url('../images/swatches/white.jpg?1358015526'); }

/* line 16, ../sass/app.scss */
#header { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; margin-top: 10px; margin-bottom: 25px; background-image: url('../images/swatches/blue.jpg?1358015006'); font-size: 18px; font-weight: bold; padding-top: 5px; padding-bottom: 5px; }

/* line 27, ../sass/app.scss */
#footer { background-image: url('../images/swatches/blue.jpg?1358015006'); -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; text-align: center; font-weight: normal; font-size: 10px; margin-top: 10px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; }

/* line 50, ../sass/app.scss */
#skin { background-repeat: no-repeat; height: 640px; }

/* line 61, ../sass/app.scss */
#rightPanel { height: 640px; -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; }
