/* line 3, ../sass/app.scss */
body { background-image: url('../images/swatches/cream.jpg?1358015488'); font-family: "Helvetica Neue", Helvetica, serif; }

/* line 11, ../sass/app.scss */
#container { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; margin-top: 30px; padding: 10px; background-image: url('../images/swatches/white.jpg?1358015526'); }

/* line 18, ../sass/app.scss */
#header, #footer { -webkit-box-shadow: 1px 1px 5px #888888; -moz-box-shadow: 1px 1px 5px #888888; box-shadow: 1px 1px 5px #888888; margin-bottom: 20px; padding: 10px; background-image: url('../images/swatches/blue.jpg?1358015006'); font-size: 18px; font-weight: bold; }

/* line 27, ../sass/app.scss */
#footer { margin-top: 20px; margin-bottom: 0; text-align: center; font-weight: normal; font-size: 10px; }

/* line 37, ../sass/app.scss */
#sharelinks img { height: 25px; }

/* line 42, ../sass/app.scss */
#skin { background-image: url('../images/iphone4.png?1358307485'); background-repeat: no-repeat; height: 640px; margin-bottom: 20px; }
