@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Lato:700,900);
/* line 6, ../../sass/shapes.scss */
body { background-color: #fdfdf9; }

/* line 9, ../../sass/shapes.scss */
div { margin-top: 10px; border: 1px solid #666666; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #fff5e1; width: 960px; }

/* line 18, ../../sass/shapes.scss */
#logo, .ks { font-family: "Helvetica", sans-serif; font: bold; background-color: #54b2a2; }

/* line 24, ../../sass/shapes.scss */
#smallSkins { position: relative; height: 280px; width: 65px; float: left; }

/* line 31, ../../sass/shapes.scss */
#smallSkinsImg { position: absolute; left: 2.5px; top: 2.5px; z-index: 2; }

/* line 37, ../../sass/shapes.scss */
#tinyIphone { position: absolute; top: 0px; z-index: 1; }

/* line 44, ../../sass/shapes.scss */
#rotateTest { position: relative; width: 600px; height: 400px; float: left; }

/* line 51, ../../sass/shapes.scss */
#rotateMessage { width: 300px; float: left; }

/* line 56, ../../sass/shapes.scss */
#bigPhone { position: absolute; top: 3px; left: 0; }

/* line 61, ../../sass/shapes.scss */
#bigPhone2 { position: absolute; top: 3px; left: 200px; }
